{
  "trailingComma": "all",
  "tabWidth": 4,
  "arrowParens": "always",
  "useTabs": false,
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "*.json5"
      ],
      "options": {
        "singleQuote": false,
        "quoteProps": "preserve"
      }
    },
    {
      "files": [
        "*.yml"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}

